<?xml version="1.0"?>
<ruleset name="Elementor ACF Team Card">
    <description>Coding standards for Elementor ACF Team Card.</description>

    <file>.</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/assets/*</exclude-pattern>

    <arg value="ps"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="WordPress"/>

    <config name="minimum_supported_wp_version" value="6.0"/>
    <config name="testVersion" value="7.4-"/>
    <config name="text_domain" value="elementor-acf-team-card"/>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="eatc"/>
                <element value="EATC"/>
            </property>
        </properties>
        <exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed"/>
    </rule>
</ruleset>